.buttonBY {
    padding: 10px;
    background-color: rgb(16, 121, 192);
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 8px;
    height: 40px;
    width: 120px;

    &:hover {
        background-color: rgb(12, 108, 173);
    }
}